{% load static %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}Admin Dashboard{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'administration/assets/css/styles.min.css' %}">
  <link rel="stylesheet" href="{% static 'administration/assets/libs/simplebar/dist/simplebar.min.css' %}">
</head>
<body>
    <div class="body-wrapper">
      {% include 'staff/essentials/topbar.html' %}
      <div class="container-fluid">
        {% block content %}{% endblock %}
      </div>
      {% include 'staff/essentials/footer.html' %}
    </div>
  </div>
  <script src="{% static 'administration/assets/libs/jquery/dist/jquery.min.js' %}"></script>
  <script src="{% static 'administration/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'administration/assets/libs/apexcharts/dist/apexcharts.min.js' %}"></script>
  <script src="{% static 'administration/assets/libs/simplebar/dist/simplebar.js' %}"></script>
  <script src="{% static 'administration/assets/js/sidebarmenu.js' %}"></script>
  <script src="{% static 'administration/assets/js/app.min.js' %}"></script>
  <script src="{% static 'administration/assets/js/dashboard.js' %}?v={{ timestamp }}"></script>
  <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
</body>
</html>